<%= form_with(model: game_player, local: true) do |form| %>
  <% if game_player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game_player.errors.count, "error") %> prohibited this game_player from being saved:</h2>

      <ul>
        <% game_player.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game_id %>
    <%= form.number_field :game_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :invite_pending %>
    <%= form.check_box :invite_pending %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
